footer {
  width: 100%;
  height: 180px;
  padding: 10px 20px 10px 20px;
  background-color: #272A7E;
  color: #FFF;
  font-family: Roboto Slab, sans-serif;
  font-size: 12px;
}

.footer {
  position: fixed;
  right: 1.5em;
  bottom: 0;
  height: 2em;
  background-color: #fff;
  border-radius: 2px;
  overflow: hidden;
  padding: 0 0.3em 0 0.2em;
}

.byline {
  font-family: "Source Code Pro", Courier New, Courier, monospace;
  font-size: 12px;
  font-weight: 700;
  opacity: 0.6;
}

.logo {
  display: inline-block;
  width: 40px;
  padding: 5px 0 5px 0;
}

#code4_footer_logo_wrapper {
  margin-top: 10px;
}

#code4_footer_logo {
  width: 100px;
  margin-left: -15px;
}
