#bottom {
  position: relative;
  background-color: #272a7e;
  padding: 1.5rem 0;
  margin: 6rem 0 0;
  display: block;
  height: 12%;
}

.container {
  max-width: 1200px;
  margin: 0 25px;
  width: 100%;
}

.footer:before {
  content: " ";
  display: table;
  box-sizing: border-box;
}

.footer:after {
  clear: both;
  content: " ";
  display: table;
  box-sizing: border-box;
}

.logo {
  transition: opacity .3s;
  display: inline-block;
  max-width: 10rem;
  opacity: .7;
}

.logo img {
  max-width: 100%;
  height: auto;
  display: block;
}

.mono {
  font-size: 1.3rem;
  color: white;
}
