.Nav {
  color: white;
  background-color: #272A7E;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;

  & .Logo {
    /*display: flex;*/
    /*align-items: center;*/
    /*font-family: Roboto Slab, sans-serif;*/
    /*font-size: 18px;*/
    /*line-height: 24px;*/
    height: 100%;

    & img {
      /*height: 50px;*/
      height: 45%;
      /*margin-top: 8%;*/
      margin-top: 20px;
      padding-right: 1em;
    }

    & span {
      margin-left: 10px;
    }
  }

  & ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    align-items: center;
    margin: 0;

    & li {
      display: inline;
      padding: 5px;

      & a {
        text-decoration: none;
        color: white;
        font-family: Roboto Slab, sans-serif;
        font-size: 15px;
      }
    }

    & .oldSite {
      margin-left: 5px;
      padding: 5px;
      border-radius: 3px;
      color: #93A6B1;
      background-color: #3e42b6;
    }
  }
}
