.Nav {
  color: white;
  background-color: #272A7E;
  min-height: 80px;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;

  & .Logo {
    display: flex;
    align-items: center;
    font-family: RobotoSlab-Bold, sans-serif;
    font-size: 18px;
    line-height: 24px;

    & img {
      width: 64px;
      height: 64px;
    }

    & span {
      margin-left: 10px;
    }
  }

  & ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    align-items: center;

    & li {
      display: inline;
      padding: 5px;
      margin: 0 10px;

      & a {
        text-decoration: none;
        color: white;
        font-family: RobotoSlab-Regular;
        font-size: 15px;
      }
    }
  }
}
