.AppContainer {
  padding: 0;
  margin: 0;
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100vh;

  & .body {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    height: calc(100vh - 80px);

    & .collapsibleSidebar {
      transition: margin-left 0.3s ease-in-out;
      width: 270px;
      position: relative;
      background-color: #f7f9fa;

      &.open {
         margin-left: 0;
      }

      &.closed {
         margin-left: -230px;
      }
    }

    & .collapseSidebarBtn {
        bottom: 5px;
        left: 5px;
        position: fixed;
        border: 1px solid gray;
        background-color: lightgray;
    }
  }

  & .title {
    font-size: 15px;
    color: #0D2B3E;
  }

  & :global(.main_content) {
    padding: 40px 65px;
  }
}
