.ContentHeader {
  min-height: 180px;
  border-bottom: 1px solid #EBF0F2;
  padding-left: 60px;
  text-align: left;
  display: flex;
  flex-direction: column;
  padding-bottom: 40px;
  justify-content: flex-end;

  & .title {
    font-size: 3rem;
    font-family: Roboto Slab, sans-serif;
    color: #0D2B3E;
    letter-spacing: 0;
  }

  & .parentTitle {
    font-family: Roboto-Regular, sans-serif;
    font-size: 2.2rem;
    color: #93A6B1;

    &:empty {
      visibility: hidden;
    }
  }
}
