.ContentHeader {
  min-height: 180px;
  border-bottom: 1px solid #EBF0F2;
  padding-left: 60px;
  text-align: left;
  display: flex;
  flex-direction: column;

  & .title {
    font-size: 40px;
    font-family: Roboto Slab;
    color: #0D2B3E;
    letter-spacing: 0;
  }

  & .parentTitle {
    font-family: Roboto;
    font-size: 24px;
    color: #93A6B1;

    &:empty {
      visibility: hidden;
    }
  }
}
