.ContentHeader {
  min-height: 130px;
  //border-bottom: 1px solid #EBF0F2; text-align: left;
  display: flex;
  flex-direction: column;
  //padding: 0 1.5rem 20px; justify-content: flex-end;
  //position: relative;

  & .parentTitle {
    font-family: Roboto-Regular, sans-serif;
    font-size: 14px;
    color: #93A6B1;

    &:empty {
      visibility: hidden;
    }
  }

  & .title {
    font-size: 22px;
    font-family: Roboto Slab, sans-serif;
    color: #0D2B3E;
    letter-spacing: 0;
    padding-bottom: 20px;
  }

  & .divider {
    border-bottom: 1px solid #EBF0F2;
    height: 1px;
    width: 100vw;
    margin-left: calc(50% - 50vw);
  }
}

@media (min-width: 768px) {
  .ContentHeader {
    min-height: 180px;

    & .parentTitle {
      font-size: 24px;
    }

    & .title {
      font-size: 40px;
    }
  }
}
