.MinistryOverview {
  text-align: left;

  & .main {
    padding: 40px 65px;

    & .title {
      font-size: 15px;
      color: #0D2B3E;
    }

    & .params {
      margin: 45px 0;
      display: flex;
      justify-content: space-between;
    }

    & .year_slider, & .chart_type, & .ministry_filter, & .chart_display {
      display: flex;
      flex-direction: column;
    }

    & .year_slider {
      width: 44%;

      & :global(.slider.slider-horizontal) {
        width: 100%;
        margin-left: 15px;

        & :global(.slider-selection) {
          background-image: none;
          box-shadow: none;
        }
      }

      & :global(.slider-tick) {
        cursor: pointer;
      }

      & :global(.slider-tick.in-selection) {
        background-image: linear-gradient(to bottom, #f9f9f9 0, #f5f5f5 100%);
      }
    }

    & .chart_type {
      & .chart_options {
        background: #EBF0F2;
        border-radius: 3px;
        padding: 5px;
      }
    }

    & .content {
      display: flex;
      flex-direction: row;
    }
  }
}
