@import "../../style/variables.css";

.CheckboxFilter {
	background-color: var(--grey-light);
	padding: var(--default-padding);
}

.CheckboxFilter_header {
	border-bottom: 1px solid var(--default-border-color);
	margin-bottom: var(--default-margin);
}

.CheckboxFilter_content {
	text-align: left;
}