.Tooltip {
  background: #4990E2;
  border-radius: 5px;
  color: white;
  padding: 5px;
}

.xtitle {
  font-family: Roboto;
  font-size: 15px;
  color: #0D2B3E;
  letter-spacing: 0;
  line-height: 6px;
}
