.Sidebar {
  background-color: #f7f9fa;
  width: 22%;
  padding-top: 70px;

  & .title {
    text-align: left;
    color: #a5b5be;
    font-size: 1.1em;
    margin: 0 25px 10px 45px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eef2f4;
  }

  & ul {
    margin: 0 25px 10px 45px;

    & li {
      text-align: left;
      color: #7c8d97;
      margin-bottom: 0.7em;
    }
  }
}
