.Sidebar {
  background-color: #f7f9fa;
  height: calc(100% - 45px);
  font-family: Roboto-Regular, sans-serif;
  overflow: hidden;

  & .spacer {
    padding-top: 70px;
  }

  & .title {
    text-align: left;
    color: #a5b5be;
    font-size: 1.1em;
    margin: 0 25px 10px 45px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eef2f4;

    & .viewAll {
      font-family: Roboto-Bold, sans-serif;
      font-size: 15px;
      margin-left: -25px;

      & svg {
        position: relative;
        left: -5px;
        top: 5px;
      }
    }
  }

  & ul {
    margin: 0 25px 10px 45px;
    list-style-type: none;
    height: calc(100% - 122px);
    overflow-y: auto;

    & li {
      text-align: left;
      color: #0D2B3E;
      margin-bottom: 0.7em;
      font-size: 15px;

      & a {
        color: #0D2B3E;
      }
    }
  }

  & ul.adminType {
    padding: 0;
    /*height: calc(100% - 108px);*/
    overflow-y: auto;
  }

  & ul.countiesType {
    padding: 0;
    height: calc(100% - 142px);
    overflow-y: auto;
  }
}
