.CountyOverview {
  & .main {
    padding: 40px 65px;

    & .legendRow {
      display: flex;
      align-items: center;
      margin-bottom: 2px;
    }

    & .legendBox {
      width: 24px;
      height: 24px;
      display: inline-block;
      margin-right: 5px;
    }

    & .legendLabel {
      font-size: 14px;
      color: #516178;
    }

    & .valueType {
      margin-top: 20px;
      font-size: 14px;
      font-weight: bold;
      color: #0D2B3E;
    }
  }
}
