@import "../../style/variables.css";

.countyFilter {
  background-color: #F7F9FA; /*var(--grey-light);*/
  padding: 8px;
}

@media (min-width: 768px) {
  .countyFilter {
    padding: 20px;
  }
}

.selectAll {
  padding-bottom: 15px;
  border-bottom: 1px solid #EBF0F2;
  margin-right: 15px;

  & :global(.checkbox_label) {
    font-weight: bold;
  }
}

.select_one_txt {
  margin-top: 10px;
  margin-bottom: 5px;
  font-family: Roboto-Slab, sans-serif;
  font-size: 16px;
  color: #93A6B1;
}

.CountyOverview {
  & .main {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;

    & .legendGroup {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    /* Map content */
    & .legendRow {
      display: flex;
      align-items: center;
      margin-bottom: 2px;
    }

    & .legendBox {
      width: 24px;
      height: 24px;
      display: inline-block;
      margin-right: 5px;
    }

    & .legendLabel {
      font-size: 14px;
      color: #516178;
      white-space: nowrap;
    }

    & .valueType {
      margin-top: 20px;
      font-size: 14px;
      font-weight: bold;
      color: #0D2B3E;
    }

    & .content {
      display: block;
    }
  }

  @media (min-width: 768px) {
    & .main {
      padding-top: 40px;
      padding-bottom: 40px;

      & .legendGroup {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: nowrap;
      }

      & .content {
        display: flex;
        flex-direction: row;
      }
    }
  }
}
