@import "../../style/variables.css";

.countyFilter {
  background-color: var(--grey-light);
  padding: 20px 0 20px 31px;
}

.selectAll {
  & :global(.checkbox_label) {
    font-weight: bold;
  }

  padding-bottom: 15px;
  border-bottom: 1px solid #EBF0F2;
  margin-right: 15px;
}

.select_one_txt {
  margin-top: 10px;
  margin-bottom: 5px;
  font-family: Roboto-Slab;
  font-size: 16px;
  color: #93A6B1;
}

.CountyOverview {
  & .main {
    padding: 40px 65px;

    /* Map content */
    & .legendRow {
      display: flex;
      align-items: center;
      margin-bottom: 2px;
    }

    & .legendBox {
      width: 24px;
      height: 24px;
      display: inline-block;
      margin-right: 5px;
    }

    & .legendLabel {
      font-size: 14px;
      color: #516178;
    }

    & .valueType {
      margin-top: 20px;
      font-size: 14px;
      font-weight: bold;
      color: #0D2B3E;
    }
  }
}
