.box {
  background: #FFFFFF;
  border: 1px solid #EBF0F2;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.04);
  display: inline-block;
  padding: 20px;
}

.year_slider {
  display: flex;
  flex-direction: row;
  width: 70%;

  & :global(.slider.slider-horizontal) {
    width: 100%;
    margin-left: 15px;

    & :global(.slider-selection) {
      background-image: none;
      box-shadow: none;
    }

    & :global(.slider-tick-label-container) {
      margin-right: -32.8px;
    }
  }

  & :global(.slider-tick) {
    cursor: pointer;
  }

  & :global(.slider-tick.in-selection) {
    background-image: linear-gradient(to bottom, #f9f9f9 0, #f5f5f5 100%);
  }
}

.Filters {
  text-align: left;

  & .indicator {
    & :global(.dropdown) {
      width: 100%;

      & :global(.dropdown-toggle) {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      & .select_indicator {
        font-size: 20px;
        padding: 10px 23px 12px 16px;
        width: 100%;
        text-align: left;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        display:inline-block
      }

      & .select_indicator > span {
        position: absolute;
        right: 10px;
        top: 23px;
      }

      & .select_indicator + ul {
        padding-top: 0px;
        width: 100%;
      }

      & .select_indicator + ul a {
        border-top: 1px solid #eee;
        padding-top: 5px;
        padding-bottom: 5px;
        word-wrap: break-word;
        white-space: normal;
      }

      & :global(.dropdown-menu) {
        font-size: 20px;
      }
    }
  }

  & .params {
    margin: 45px 0;
    display: flex;
    justify-content: space-between;

    & .year_slider {
      width: 44%;
    }
  }

  & .year_slider, & .chart_type, & .chart_display {
    display: flex;
    flex-direction: column;
  }

  & .chart_type {
    & .chart_options {
      background: #EBF0F2;
      border-radius: 3px;
      padding: 5px;
    }
  }

  & .button {
    border: none;
    cursor: pointer;
    border-radius: 2px;
    outline: none;
    background-color: transparent;
    padding: 5px 10px;

    &.active {
      background-color: #FFFFFF;
    }

    & svg {
      pointer-events: none;
    }
  }
}
